/* @import url('https://fonts.googleapis.com/css2?family=Share+Tech&display=swap'); */

body {
    width: 100%;
    position: relative;
    bottom: 0;
    margin: 0;
    color: #fff;
    padding: 0px;
    font-size: 19px;
    line-height: 30px;
    background: #172027;
    background-color: #fff;
    overflow-x: hidden;
    font-family: 'Share Tech', sans-serif;
}

@media (min-aspect-ratio: 16/9) {
    .bg {
        width: auto;
        height: 100%;
    }
}

@media (min-aspect-ratio: 16/9) {
    .bg {
        width: 100%;
        height: auto;
    }
}

/* footer css start here */
*{
    padding: 0;
    font-family: 'Share Tech', sans-serif;
    box-sizing: border-box;
}
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    color: #95C5F4;
    padding: 80px 0 10px;
    font-size: 15px;
    line-height: 15px;
    background-color: #95C5F4;
    background-image: url(/assets/Vector\ 7.png);
    align-items: end;
}

.row {
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.col {
    flex-basis: 25%;
    line-height: 20px;
    padding: 10px;
}

.col:nth-child(2),
.col:nth-child(3) {
    flex-basis: 15%;
}

.logo1 {
    width: 90px;
    margin-bottom: 10px;
    color:#95C5F4 ;
    text-decoration: none;
    font-size: 40px;
}

hr {
    width: 90%;
    border: 0;
    border-bottom: 1px solid #ccc;
    margin: 20px auto;
}

.copyright {
    justify-content: space-between;
    width: 85%;
    color: #95C5F4;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    font-family: 'Courier New', Courier, monospace;
}

.underline {
    width: 100%;
    height: 5px;
    background: #767676;
    border-radius: 3px;
    position: absolute;
    top: 25px;
    left: 0;
    overflow: hidden;
}

.underline span {
    width: 15px;
    height: 100%;
    background: #fff;
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 10px;
    animation: moving 2s linear infinite;
}

@keyframes moving {
    0% {
        left: -20px;
    }

    100% {
        left: 100%;
    }
}

@media (max-width: 700px) {
    footer {
        position: fixed;
        bottom: 0;
    }

    .col {
        flex-basis: 100%;
    }

    .col:nth-child(2),
    .col:nth-child(3) {
        flex-basis: 15%;
    }
}
