body{
    background-color: #1e1e1e;
}
.body {
    background-color: #262626;
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 0px 130px;



}

.p {
    padding: 100px 250px;
    font-family: 'Wallpoet', sans-serif;
    font-size: 0.7em;

}

.bottom {

    color: white;
    height: 40vh;
    width: 100%;
    background-color: black;
}

.top {
    margin-top: 137px;
    margin-bottom: 70px;
    height: 200px;
    width: 811px;
    background-color: black;
    /* visibility: hidden; */


}

 .img {
    width: 811px;
    height: 220px;
    position: absolute;
    top: 145px;
    /* background-color: #1e1e1e; */
    left: 338px;
     display: flex;
        justify-content: center;
        align-items: center;
        
         flex-direction: row; 
     overflow: auto; 
    /* position: relative; */
     /* direction: ltl; */



} 
.img::-webkit-scrollbar{
    -webkit-appearance: none;
}

 
.tri1 {
    width: 10px;
    height: 150px;
    /* border-color: red; */
    border-top: 50px solid transparent;
    border-bottom: 0px solid white;
    border-right: 50px solid transparent;
    border-left: 50px solid #1e1e1e;
    position: absolute;
    top: 198px;
    left: 135px;

}

.tri2 {
    width: 500px;
    height: 30px;
    border-top: 60px solid #1e1e1e;
    border-bottom: 50px solid transparent;
    border-left: 50px solid transparent;
    border-right: 0px solid white;
    position: absolute;
    top: 8.3px;
    right: 8px;

}

.tri3 {
    width: 0px;
    height: 30px;
    border-top: 60px solid #1e1e1e;
    border-bottom: 50px solid transparent;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    position: absolute;
    top: 68.3px;
    right: 80px;
}

.tri4 {
    width: 300px;
    height: 20px;
    border-bottom: 60px solid transparent;
    border-top: 40px solid #262626;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    position: absolute;
    top: 397px;
    right: 253px;
}
.group1{
    position: absolute;
    top: 0px;
    left: 0px;

}
.trapeziumi1{
    font-size: 3em;
    color: white;
    position: absolute;
    top: 80px;
    left: 600px;

    z-index: 22;
}
 .trapezium1{
    z-index: 1;
    position: absolute;
    top: 0px;
    right: 2px;
    width: 300px;
    height: 50px;
    background-color: transparent;
    border-top: 200px solid blaCK;
    border-bottom: 100px solid transparent;
    border-right: 0px solid transparent;
    border-left: 100px solid transparent;
    
} 
.scrolll{
    font-size: 2rem;
    color: white;
    position: absolute;
    top: 7em;
    left: 7em;
}
.scrollr{
    font-size: 2rem;
    color: white;
    position: absolute;
    top: 7em;
    right: 8em;
}
.group2{
    position: absolute;
    top: 0px;
    left: 1535px;

}
 .trapeziumi2{
    font-size: 3em;
    color: white;
    position: absolute;
    top: 80px;
    left: 2100px;
    z-index: 22;
}
.trapezium2{
    z-index: 1;
    position: absolute;
    top: 0px;
    left: 1926.5px;

    width: 300px;
    height: 50px;
    background-color: transparent;
    border-top: 200px solid black;
    border-bottom: 100px solid transparent;
    border-right: 0px solid transparent;
    border-left: 100px solid transparent;
    
}  
.group3{
    position: absolute;
    top: 0px;
    left: 3070px;

}
.group4{
    position: absolute;
    top: 0px;
    left: 3800px;
}
 .trapeziumi3{
    font-size: 3em;
    color: white;
    position: absolute;
    top: 80px;
    left: 3650px;
    z-index: 22;
}
.trapezium3{
    z-index: 1;
    position: absolute;
    top: 0px;
    left: 3482px;

    width: 300px;
    height: 50px;
    background-color: transparent;
    border-top: 200px solid blaCK;
    border-bottom: 100px solid transparent;
    border-right: 0px solid transparent;
    border-left: 100px solid transparent;
    
} 